<h2>
  Root candy
</h2>

<nav>
  <%= link_to 'adicione um novo doce', new_candy_path %>
</nav>

<% @candys.each do |candy| %>
  <div>
    <span>
      <%= candy.name %> |
    </span>
    <span>
      <%= candy.description %> |
    </span>
    <span>
      <%= candy.rate %>
    </span>
  </div>
<% end %>